a {
    color: rgb(51, 204, 51);
}

#header {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer {
    background: yellow;
    display: flex;
    justify-content: flex-end;
}

#header a+a,
#footer a+a {
    margin-left: 30px;
}

#header,
#footer {
    padding: 20px;
}

#main {
    padding: 60px 0px 60px 20px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#header a {
    font-family: Tahoma, Verdana, sans-serif;
}

button {
    background: rgb(51, 204, 51);
    padding: 8px 10px;
    font-size: 25px;
    border-radius: 8px;
}

#container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}