h1 {
    color: red;
}

@media (min-width: 640px) {
    h1 {
        color: green
    }
}

@media (min-width: 768px) {
    h1 {
        color: blue;
    }
}

@media (min-width: 1024px) {
    h1 {
        color: rgb(255, 166, 0);
    }
}