.cover {
    width: 100%;
    max-width: 400px;
}

.images {
    text-align: center;
}

.description {
    color: gray;
    font-size: 15px;
}

h1,
.price,
.description {
    font-family: Tahoma, Geneva, verdana, sans-serif;
}

h1 {
    font-size: 40px;
}

.price {
    font-size: 28px;
}

.details button {
    border: none;
    background-color: blue;
    padding: 16px 40px;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

body {
    padding: 15px;
}

.details {
    display: flex;
    padding: 10px;
    flex-direction: column;
    /* align-items: flex-start; */
    gap: 15px;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.thumbnails>img {
    min-width: 0px
}

.thumbnails {
    display: none;
}

@media (min-width: 750px) {
    .product {
        display: flex;
        flex-direction: row-reverse;
        border: 2px solid gray;
        padding: 30px;
        margin: 10px auto;
        border-radius: 20px;
    }

    .images {
        width: 40%;
    }

    .details {
        width: 60%;
    }

    .details button {
        margin: 0%;
    }

    .thumbnails {
        display: flex;
        gap: 5px;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 50px;
    }

    .price {
        font-size: 35px;
    }

    .thumbnails {
        font-size: 20px;
    }
}