.div-link {
    display: flex;
    gap: 20px;
}

#header>img {
    display: flex;
    width: 80px;
}

#header {
    background: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 60px;
}

#header>img {
    width: 80px;
    display: flex;
}

#footer {
    display: flex;
    background: yellow;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
    padding: 0px 20px;
}

h2 {
    color: orange;
}


button {
    border: 4px solid black;
    border-radius: 20px;
    color: orange;
    font-size: 20px;
    text-align: center;
    padding: 5px 40px;
}

#header a {
    color: black;
    padding: 10px;
    font-weight: bolder;
}

#main {
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main a {
    color: blue;
    display: block;
}

.sho-card {
    display: flex;
    padding: 20px;
    border: 5px solid black;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin: 40px auto;
    background: white;
}

.sho-card img {
    width: 55%;
}

.detail-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.footerstyle {
    display: flex;
    width: auto;
    flex-direction: row;
    gap: 10px;
}

.footerstyle>img {
    display: flex;
    justify-content: center;
    width: 20px;
}

#footer>p {
    font-size: 20px;
}